<div class="bt border-primary">
    <div class="col-lg-4 br border-primary bg-default" style=" height: calc(100vh - 60px)">
        <div class="row bt bb border-default">
            <div class="col-sm-12 bg-primary">
                <h4 class="text-center">JOB DETAILS</h4>
            </div>
        </div>
        <div class="col-lg-12"> 
            <form class="form-horizontal" role="form">
                
                <div class="form-group mt20"> 
                    <label class="col-sm-3 control-label">Employee</label>
                    <div class="col-sm-9"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 
                <div class="form-group mt20"> 
                    <label class="col-sm-3 control-label">Department</label>
                    <div class="col-sm-9"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 
                <div class="form-group mt20"> 
                    <label class="col-sm-3 control-label">Job title</label>
                    <div class="col-sm-9"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 
                <div class="form-group"> 
                    <label class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9"> 
                        <textarea class="form-control"></textarea>
<!--                        <input type="" class="form-control"> -->
                    </div> 
                </div> 
            </form>
        </div>
    </div>    
    <div class="col-lg-8">
        <div class="mt10" style="margin-bottom: -21px">
            <table class="table table-bordered">
                <col style="width: 30%">
                <col style="width: 35%">
                <col style="width: 35%">
                <thead>
                    <tr>
                        <th>
                            Job
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            asd
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <!--        <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 315px);" ng-show="false">
                    <table class="table-hover">
                        <col style="width: 30%">
                        <col style="width: 35%">
                        <col style="width: 35%">
                        <tbody>
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->

        <div class="col-lg-12 placeholder bordered border-default" style="height: calc(100vh - 190px);" ng-show="true">
            <h1 class="text-center mt200">PLEASE ADD JOBS TO DISPLAY :(</h1>
        </div>
        
        <div class="col-lg-12">
            <a class="pull-right btn btn-lg btn-primary mt20" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
            <a class="pull-right btn btn-lg btn-success mt20" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
        </div>
    </div>
</div>
