<div class="col-sm-12 bt border-primary" style="height: calc(100vh - 57px)">
    <div class="row">
        <div class="col-sm-3 bg-default-light br border-primary" style="height: calc(100vh - 57px)" ng-show="imageUrl">
            <div class="profile-sidebar mt10" style="animation: fadeIn 1s">
                <div class="profile-sidebar-item profile-avatar">
                    <div>
                        <image id="userImg"  src="{{imageUrl}}"  height="100%" width="150px" />
                    </div>
                </div>
                <br>
                <h5 class="bold text-center">{{model.employee.name}}-{{model.employee.epfNo}}</h5>
                <div class="profile-sidebar-item profile-info">
                    <div class="center-block mt10">
                        <label class="label bg-bluegrey" style="font-size: 10px">{{model.employee.department}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 bg-default-light" style="height: calc(100vh - 57px)" ng-hide="imageUrl">
            <div class="col-sm-12 bordered" style="border: 1px solid white;opacity: 0.6;height: calc(100vh - 74px); margin-top: 10px;">
                <h1 class="text-center mt200">Employee Details</h1>
            </div>
        </div>

        <div class="col-sm-5 mt10 br border-primary">
            <section class="profile-timeline composer" style="height: 230px">
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" id="epfNo" class="form-control mb5" placeholder="Emp No" ng-model="model.employee.epfNo"  ng-keypress="ui.keyEvent($event);">
                    </div>
                    <div class="col-sm-7">
                        <input type="text" id="empName" class="form-control mb5" placeholder="Employee" ng-model="model.kaizen.employee" uib-typeahead="employee as (employee.name) for employee in model.employeeList|filter:$viewValue|limitTo:10"  typeahead-on-select="ui.selectEmployee($model)">
                    </div>
                </div>
                <input class="form-control mb5" placeholder="Title" ng-model="model.kaizen.title">
                <textarea placeholder="Description" rows="3" class="form-control" style="height: 120px" ng-model="model.kaizen.description"></textarea>
            </section>

            <div class="composer-options" style="margin-bottom: 40px">
                <div class="row col-sm-5">
                    <label class="btn btn-xs btn-instagram btn-flat" for="file">
                        <!--<span class="glyphicon glyphicon-folder-open mr2"></span><input type="file" id="file" ng-model-instant  onchange="angular.element(this).scope().imageUpload(event, 'before')" multiple style="display: none">-->
                        <span class="glyphicon glyphicon-folder-open mr2"></span><input style="display: none" type="file" id="file"  custom-on-change="uploadBeforeFile" multiple>
                        browse
                    </label>
                </div>
                <label class="pull-right">BEFORE PICTURE</label>
            </div>

            <div class="bordered border-default mygrid-wrapper-div" style="height: 130px" >
                <!--<div>-->
                <table>
                    <tbody>
                    <td ng-repeat="image in beforeImageModel">
                        <div style="width: 110px; height: 120px; margin-top: 5px;margin-left: 5px">
                            <button class="btn btn-xs btn-danger btn-flat pull-right" ng-click="removeImage($index)"><span class="glyphicon glyphicon-remove"></span></button>
                            <img ng-src="{{image}}" style="width: 100%; height: 95px;border: 1px solid #cccccc; ">
                        </div>
                    </td>
                    </tbody>
                </table>
            </div>

            <div class="composer-options mt15" style="margin-bottom: 40px">
                <div class=" row col-sm-5">
                    <label class="btn btn-xs btn-instagram btn-flat" for="file2">
                        <span class="glyphicon glyphicon-folder-open mr2"></span><input style="display: none" type="file" id="file2"  custom-on-change="uploadAfterFile" multiple>
                        browse
                    </label>
                </div>
                <label class="pull-right">AFTER PICTURE</label>
            </div>

            <div class="bordered border-default mygrid-wrapper-div" style="height: 130px" >
                <table>
                    <tbody>
                    <td ng-repeat="images in afterImageModel">
                        <div style="width: 110px; height: 120px; margin-top: 5px;margin-left: 5px">
                            <button class="btn btn-xs btn-danger btn-flat pull-right" ng-click="removeAfterImage($index)"><span class="glyphicon glyphicon-remove"></span></button>
                            <img src="{{images}}" style="width: 100%; height: 95px;border: 1px solid #cccccc; ">
                        </div>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="row ">
                <div class="col-sm-12 bg-bluegrey">
                    <h4 class="text-center">VALUE YOUR KAIZEN</h4>
                </div>
            </div>
            
<!--            <div class="row bg-default-light bb border-primary">
                <div class="col-xs-12" style="margin: 10px 0 10px 0">
                    <input class="form-control" ng-model="model.kaizen.actualCost" placeholder="Actual cost">
                </div>
            </div>-->
            
            <!--<label class="label label-success pull-right" style="height: 20px">score {{model.kaizen.employeeCost}}</label>-->
            <div style="padding: 0px;height: calc(100vh - 350px)" class="mt20" ng-init="onLoadValueKaizer()">
            <!--<div style="padding: 0px">-->
                <h6>Cost  <button ng-click="ui.modalOpenCost()" class="btn btn-xs btn-primary btn-flat pull-right">Criteria</button> <button class="btn btn-xs btn-outline btn-flat pull-right" style="margin-right: 7px">Score {{scoreCost}}</button></h6>
                <input type="range" ng-model="scoreCost" step="1" min="0" max="5" ng-disabled="true" style="padding: 6px; margin-top: 0px;" >                

                <h6>Utilization <button ng-click="ui.modalOpenUtilization()" class="btn btn-xs btn-primary btn-flat pull-right">Criteria</button> <button class="btn btn-xs  btn-outline btn-flat pull-right" style="margin-right: 7px">Score {{scoreUtilization}}</button></h6>
                <input type="range" value="0" ng-model="scoreUtilization" step="1" min="0" max="5" ng-disabled="true" style="padding: 6px;margin-top: 0px;">    

                <h6>Creativity <button ng-click="ui.modalOpenCreativity()" class="btn btn-xs btn-primary btn-flat pull-right">Criteria</button> <button class="btn btn-xs  btn-outline btn-flat pull-right" style="margin-right: 7px">Score {{scoreCreativity}}</button></h6>
                <input type="range" value="0" ng-model="scoreCreativity" step="1" min="0" max="5" ng-disabled="true" style="padding: 6px;margin-top: 0px;">    

                <h6>Safety <button ng-click="ui.modalOpenSafety()" class="btn btn-xs btn-primary btn-flat pull-right">Criteria</button> <button class="btn btn-xs  btn-outline btn-flat pull-right" style="margin-right: 7px">Score {{scoreSafety}}</button></h6>
                <input type="range" value="0" ng-model="scoreSafety" step="1" min="0" max="5" ng-disabled="true" style="padding: 6px;margin-top: 0px;">    

                <h6>Quality<button ng-click="ui.modalOpenQuality()" class="btn btn-xs btn-primary btn-flat pull-right">Criteria</button> <button class="btn btn-xs  btn-outline btn-flat pull-right" style="margin-right: 7px">Score {{scoreQuality}}</button></h6>
                <input type="range" value="0" ng-model="scoreQuality" step="1" min="0" max="5" ng-disabled="true" style="padding: 6px;margin-top: 0px;" >  
            </div>

            <div class="col-sm-12 text-center" style="height: calc(100vh - 485px);">
                <label style="font-size: 30px;" class="pt30">TOTAL SCORE <br>{{totalScore}} %</label>
            </div>

            <button type="button" class="btn btn-success btn-sm btn-flat pull-right" style="width: 100px;" ng-click="ui.save()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Submit
            </button>
        </div>
    </div>
</div>