<div class="modal-header">
    <a class="btn btn-danger btn-xs glyphicon glyphicon-remove pull-right" ng-click="ui.close();"><i class="glyphicon glyphicon-remove"></i></a>
    <h3 class="modal-title">Pictures</h3>
</div>
<div class="modal-body" style="height: 500px">
    <table border="1" class="table">
        <tbody>
            <tr ng-repeat="image in images">
                <td>assa</td>
                <td>assa</td>
                <td><img data-ng-src="{{'data:image/png;base64,'+ image.path}}" height="50px" width="50px" /></td>
            </tr>
        </tbody>
    </table>

</div>
