<div class="bt border-primary">

    <div class="col-sm-6">
        <div  class="row br border-primary">
            <div class="bg-default-light bb border-primary" style="height: 112px">
                <table class="table">
                    <tbody style="background-color: #e7e7e7;">
                        <tr>
                            <td>
                                <div class="col-sm-4">
                                    <label for="date"  style="margin-top: 9px" >Month : </label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="month" class="form-control" id="date" ng-model="model.date">
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-4">
                                    <label for="employee" style="margin-top: 9px" >Employee:</label>
                                </div>
                                <div class="col-sm-8">
                                    <!--<input type="text" id="employee" class="form-control" ng-model="model.employee" ng-keypress="ui.keyEvent($event)"  uib-typeahead="employee as (employee.name) for employee in model.employeeList|filter:$viewValue|limitTo:5">-->
                                    <input type="text" id="employee" class="form-control" ng-model="model.employee" ng-keypress="ui.keyEvent($event,model.employee)">
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="col-sm-4">
                                    <label for="department" style="margin-top: 9px">Department: </label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="department" ng-model="model.department" uib-typeahead="department as (department.name) for department in model.departmentList |filter:$viewValue|limitTo:5" typeahead-on-select="onSelect($item, $model, $label)">
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-12">
                                    <label class="pull-right" style="margin-left: 10px"><input type="radio" name="radio" ng-click="ui.selectComplete()" >COMPLETE</label>
                                    <label class="pull-right" ><input type="radio"  name="radio" ng-click="ui.selectPending()" checked="">PENDING</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="smart-scroll-y" scrolly="showMore()" style="height: calc(100vh - 170px)" ng-show="model.kaizenList.length">
                <section class="bg-white post-comments"> 
                    <section class="bg-white post-comments"> 
                        <div class="media pt10 pb5 bb border-default"  ng-repeat="kaizen in model.kaizenList | filter: ui.filterValue | limitTo:numLimit " ng-click="ui.selectkaizen(kaizen.indexNo)" ng-class="ui.selectedDataIndex === kaizen.indexNo ? 'selected' : ''">
                            <div class="col-lg-12">
                                <a class="pull-left" href="javascript:;" style="margin-right: 5px"> 
                                    <img class="media-object avatar avatar-sm" style="width: 100px; height: 50px" ng-src="{{urlX}}{{ui.getEmployee(kaizen.employee).epfNo}}/" alt="">
                                </a> 
                                <div class="comment-author h6 no-margin pt5">
                                    <label class="pull-right">{{kaizen.introduceDate| date:mediumDate}}</label>
                                    <a href="javascript:;"><strong>{{ui.getEmployee(kaizen.employee).name}}</strong></a> 
                                    <a href="javascript:;"><strong> &nbsp; (EPF NO : {{ui.getEmployee(kaizen.employee).epfNo}} )</strong></a> 
                                </div>
                                <h6>{{kaizen.title}}</h6>
                            </div> 
                        </div>
                    </section>
                </section>
            </div>

            <div class="col-lg-12 placeholder bordered border-default" style="height: calc(100vh - 170px)" ng-hide="model.kaizenList.length">
                <h1 class="text-center mt200" style="">KAIZEN IS EMPTY :(</h1>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row bg-default-light bb border-primary">
            <div class="col-xs-12" style="margin: 10px 0 10px 0">
                <label class="form-control"><b>Actual Cost:</b> {{model.kaizen.actualCost|number:2}}</label>
            </div>
        </div>

        <div class="mt5">
            <button type="button" class="btn btn-bitbucket btn-xs pull-right" style="border-radius: 0px" ng-click="ui.modalPictures()" data-target=".picture-modal" data-toggle="modal">
                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Images
            </button>
            <label class="pull-left">Description</label>
        </div>

        <div class="bordered border-default smart-scroll-y mb5" style="height: 80px; margin-top: 35px;">
            <p style="padding: 5px">{{model.kaizen.description}}</p>
        </div>

        <div style="height: calc(100vh - 370px);">
            <table class="table table-bordered">
                <thead>
                <th>Criteria</th>
                <th>Employee</th>
                <th>Manager</th>
                <th>Committee</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="">Cost</td>
                        <td class="text-center">{{model.kaizen.employeeCost}}</td>
                        <td class="text-center">{{model.managerkaizen.managerCost}}</td>
                        <td class="text-center">{{CommitteeScoreCost}}</td>
                    </tr>
                    <tr>
                        <td class="">Utilization</td>
                        <td class="text-center">{{model.kaizen.employeeUtilization}}</td>
                        <td class="text-center">{{model.managerkaizen.managerUtilization}}</td>
                        <td class="text-center">{{CommitteeScoreUtilization}}</td>
                    </tr>
                    <tr>
                        <td class="">Creativity</td>
                        <td class="text-center">{{model.kaizen.employeeCreativity}}</td>
                        <td class="text-center">{{model.managerkaizen.managerCreativity}}</td>
                        <td class="text-center"> {{CommitteeScoreCreativity}}</td>
                    </tr>
                    <tr>
                        <td class="">Safety</td>
                        <td class="text-center">{{model.kaizen.employeeSafety}}</td>
                        <td class="text-center">{{model.managerkaizen.managerSafety}}</td>
                        <td class="text-center">{{CommitteeScoreSafety}}</td>
                    </tr>
                    <tr>
                        <td class="">Quality</td>
                        <td class="text-center">{{model.kaizen.employeeQuality}}</td>
                        <td class="text-center">{{model.managerkaizen.managerQuality}}</td>
                        <td class="text-center">{{CommitteeScoreQuality}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-4 text-center">
            <div class="row br border-default">
                <label style="font-size: 16px;" class="pt30">EMPLOYEE SCORE <br>{{empTotalScore}}%</label>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="row br border-default">
                <label style="font-size:16px;" class="pt30">MANAGER SCORE <br>{{mangTotalScore}}%</label>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="row">
                <label style="font-size: 16px;" class="pt30">COMMITTEE SCORE <br>{{CommitteeTotalScore}} %</label>
            </div>
        </div>
    </div>

    <div tabindex="-1" role="dialog"  class="modal picture-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title text-center">Pictures</h3>
                </div>
                <div class="modal-body">
                    <div class="row" style="background-color: #d6d6d6">
                        <label style="margin-left: 10px">Before Files</label>
                    </div>
                    <div class="row mygrid-wrapper-div">
                        <table class="table">  
                            <tbody>
                                <tr>
                                    <td ng-repeat="beforeimage in ui.beforeImages">
                                        <a href="{{beforeimage}}" download>
                                            <div id="imgPanel" style="width: 200px; height: 200px;">
                                                <img src="{{beforeimage}}" style="width: 200px; height: 200px;">
                                            </div>
                                        </a>
                                    </td>
                                    <td ng-repeat="documentFile in ui.documentFile">
                                        <a href="{{documentFile.url}}" download>
                                            <img src="{{documentFile.icon}}" style="width: 200px; height: 200px;">
                                        </a>
                                    </td>
                                </tr>  
                            </tbody>
                        </table>
                    </div>

                    <div class="row" style="background-color: #d6d6d6">
                        <label style="margin-left: 10px">After Files</label>
                    </div>
                    <div class="row mygrid-wrapper-div">
                        <table class="table">  
                            <tbody>
                                <tr>
                                    <td ng-repeat="afterimage in ui.afterImages track by $index">
                                        <a href="{{afterimage}}" download><div id="imgPanel" style="width: 200px; height: 200px;" ng-click="getfabricCostDetails(style)">
                                                <img ng-src="{{afterimage}}" style="width: 200px; height: 200px;">
                                            </div></a>
                                    </td>
                                    <td ng-repeat="afterDocumentFile in ui.afterDocumentFile track by $index">
                                        <a href="{{afterDocumentFile.url}}" download>
                                            <img src="{{afterDocumentFile.icon}}" style="width: 200px; height: 200px;">
                                        </a>
                                    </td>
                                </tr>   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
