<div class="bt border-primary">
    <div class="col-sm-4 bg-default-light">
        <div style="height: calc(100vh - 57px)">
            <table class="table" style="background: none">
                <tbody>
                    <tr>
                        <td class="col-sm-4">
                            <label for="empname" class="control-label" style="margin-top: 9px">User Name :</label>
                        </td>
                        <td class="col-sm-8"> 
                            <input type="text" ng-model="model.name" class="form-control" id="empname">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">
                            <label for="type" class="control-label" style="margin-top: 9px">Password :</label>
                        </td>
                        <td class="col-sm-8">
                        <input type="text" ng-model="model.password" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">
                            <label for="epf" class="control-label" style="margin-top: 9px">User Role:</label>
                        </td>
                        <td class="col-sm-8"> 
                            <select class="form-control" ng-model="model.role" id="epf">
                                <option>user</option>
                                <option>admin</option>
                                <option>committee</option>
                                <option>manager</option>
                                <option>group_user</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">
                            <label for="department" class="control-label" style="margin-top: 9px">Department :</label>
                        </td>
                        <td class="col-sm-8"> 
                            <input type="text" ng-model="model.department"  class="form-control" id="department" uib-typeahead="department as (department.name) for department in departmentList|filter:$viewValue|limitTo:10">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-8 bg-white ">

        <div style="margin-top: 15px">
            <div class="col-sm-2">
                <label class="control-label" style="margin-top: 9px">User :</label>
            </div>
            <div class="col-sm-5">
                <input class="form-control" ng-model="model.searchName"><br>
            </div>
        </div>

        <table class="table" style="margin-bottom: 0px;">
            <col style="width: 25%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 20%">
            <col style="width: 25%">
            <thead style="background-color: #eeeeee">
                <tr>
                    <td>Name</td>
                    <td>Role</td>
                    <td>Password</td>
                    <td>Department</td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
        </table>

        <div class="smart-scroll-y" style="height: calc(100vh - 200px);" scrolly="showMore()">
            <table class="table">
                <col style="width: 25%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 20%">
                <col style="width: 25%">
                <tbody>
                    <tr ng-repeat="user in userList| limitTo: numLimit | filter : model.searchName">
                        <td>{{user.name}}</td>
                        <td>{{user.role}}</td>
                        <td>{{user.password}}</td>
                        <td>{{ui.getDepartment(user.department).name}}</td>
                        <td><button style="margin-left: 5px" class="btn btn-xs btn-danger pull-right" ng-click="http.deleteUser(user.indexNo)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                            <button class="btn btn-xs btn-primary pull-right" ng-click="ui.edit($index,user)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button type="button" class="btn btn-success btn-sm pull-right" style="width: 100px; border-radius: 0px" ng-click="ui.save()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Save
        </button>
    </div>
</div>

 