<div class="modal-header">
    <a class="btn btn-danger btn-xs glyphicon glyphicon-remove pull-right" ng-click="ui.close();"><i class="glyphicon glyphicon-remove"></i></a>
    <h3 class="modal-title">Safety Criteria</h3>
</div>
<div class="modal-body" style="height: 500px">
    <div class="col-lg-12">
        <div style="margin-bottom: 40px">
            <label class="pull-right label label-primary" style="font-size: 25px">Score {{CommitteeScoreSafety}}</label>
            <!--<label class="pull-right label label-default" style="font-size: 25px">Value {{safety}}%</label>-->
        </div>

        <div class="mt20 mb30">
            <h6>Safety</h6>
            <input type="range" ng-model="CommitteeScoreSafety" step="1" min="0" max="5" ng-change="ui.safetyChange(CommitteeScoreSafety)">                
            <span class="badge bg-orange">0</span><span class="badge bg-orange" style="margin-left: 147px">1</span>
            <span class="badge bg-orange" style="margin-left: 138px">2</span><span class="badge bg-orange" style="margin-left: 144px">3</span>
            <span class="badge bg-orange" style="margin-left: 140px">4</span><span class="badge bg-orange" style="margin-left: 142px">5</span>
        </div>

        <div class="mb30">
            <label>Description</label>
            <textarea class="form-control" style="height: 120px"></textarea>
        </div>

        <table class="table table-sm table-bordered">
            <thead>
            <th class="bg-bluegrey">Score</th>
            <th>0</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-default-light">Safety</td>
                    <td>None</td>
                    <td>Safer than before</td>
                    <td>Be able to keep safety without awareness</td>
                    <td>Minor injuries prevention. Disaster prevention by careless.</td>
                    <td>Lost time injuries prevention. Assured the double safety. (error proof)</td>
                    <td>Serious disaster prevention. Assured any condition’s safety.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
