<div class="bt border-primary">

    <div class="row col-lg-7">
        <div class="col-lg-12 br border-primary bg-default-light" style="height: 100px">
            <form class="form-inline mt30 ml30">
                <div class="form-group">
                    <label for="department">Department : </label>
                    <input type="text" class="form-control" id="department">
                </div>
                <div class="form-group">
                    <label for="employee">Employee : </label>
                    <input type="text" class="form-control" id="employee">
                </div>
            </form>
        </div>
        <div class="col-lg-12 br border-primary smart-scroll-y" style="height: calc(100vh - 158px)">
            <section class="widget bg-white post-comments"> 
                <div class="media"> 
                    <a class="pull-left" href="javascript:;"> 
                        <img class="media-object avatar avatar-sm" data-ng-src="images/face1.jpg" alt="" src="images/avatar.21d1cc35.jpg">
                    </a> 
                    <div class="comment-author h6 no-margin">
                        <div class="comment-meta small">May 2015, 19:20</div>
                        <a href="javascript:;"><strong>Samuel Perkins</strong></a> 
                    </div>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus. </p> 
                </div> 
                <hr>
                <div class="media"> 
                    <a class="pull-left" href="javascript:;"> 
                        <img class="media-object avatar avatar-sm" data-ng-src="images/face1.jpg" alt="" src="images/avatar.21d1cc35.jpg">
                    </a> 
                    <div class="comment"> 
                        <div class="comment-author h6 no-margin">
                            <div class="comment-meta small">May 2015, 19:20</div>
                            <a href="javascript:;"><strong>Samuel Perkins</strong></a> 
                        </div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus. </p> 
                    </div> 
                </div>
                <hr>
                <div class="media"> 
                    <a class="pull-left" href="javascript:;"> 
                        <img class="media-object avatar avatar-sm" data-ng-src="images/face1.jpg" alt="" src="images/avatar.21d1cc35.jpg">
                    </a> 
                    <div class="comment"> 
                        <div class="comment-author h6 no-margin">
                            <div class="comment-meta small">May 2015, 19:20</div>
                            <a href="javascript:;"><strong>Samuel Perkins</strong></a> 
                        </div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus. </p> 
                    </div> 
                </div>
                <hr>
                <div class="media"> 
                    <a class="pull-left" href="javascript:;"> 
                        <img class="media-object avatar avatar-sm" data-ng-src="images/face1.jpg" alt="" src="images/avatar.21d1cc35.jpg">
                    </a> 
                    <div class="comment"> 
                        <div class="comment-author h6 no-margin">
                            <div class="comment-meta small">May 2015, 19:20</div>
                            <a href="javascript:;"><strong>Samuel Perkins</strong></a> 
                        </div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus. </p> 
                    </div> 
                </div>
                <hr>
                <div class="media"> 
                    <a class="pull-left" href="javascript:;"> 
                        <img class="media-object avatar avatar-sm" data-ng-src="images/face1.jpg" alt="" src="images/avatar.21d1cc35.jpg">
                    </a> 
                    <div class="comment"> 
                        <div class="comment-author h6 no-margin">
                            <div class="comment-meta small">May 2015, 19:20</div>
                            <a href="javascript:;"><strong>Samuel Perkins</strong></a> 
                        </div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus. </p> 
                    </div> 
                </div>
                <hr>
                <div class="media"> 
                    <a class="pull-left" href="javascript:;"> 
                        <img class="media-object avatar avatar-sm" data-ng-src="images/face1.jpg" alt="" src="images/avatar.21d1cc35.jpg">
                    </a> 
                    <div class="comment"> 
                        <div class="comment-author h6 no-margin">
                            <div class="comment-meta small">May 2015, 19:20</div>
                            <a href="javascript:;"><strong>Samuel Perkins</strong></a> 
                        </div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus. </p> 
                    </div> 
                </div>
                <hr>
                <div class="media"> 
                    <a class="pull-left" href="javascript:;"> 
                        <img class="media-object avatar avatar-sm" data-ng-src="images/face1.jpg" alt="" src="images/avatar.21d1cc35.jpg">
                    </a> 
                    <div class="comment"> 
                        <div class="comment-author h6 no-margin">
                            <div class="comment-meta small">May 2015, 19:20</div>
                            <a href="javascript:;"><strong>Samuel Perkins</strong></a> 
                        </div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus. </p> 
                    </div> 
                </div>
            </section>
        </div>

    </div>

    <div class="col-lg-5">
        <div class="row col-lg-12 pull-right" style="height: 40px">
            <button ng-click="ui.modalOpen()" class="btn btn-xs btn-primary pull-right" style="margin-top: 7px">Pictures</button>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group"> 
                <label class="col-sm-3 control-label">Title</label>
                <div class="col-sm-9"> 
                    <input type="text" class="form-control"> 
                </div> 
            </div> 
            <div class="form-group"> 
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9"> 
                    <textarea class="form-control"></textarea>
                </div> 
            </div>
        </form>

        <div style="height: calc(100vh - 270px); margin-left: 5px" class="row mt20">
            <h6>Cost &nbsp; 30%  <label class="label label-success pull-right">score {{model.cost}}</label></h6>
            <input type="range" ng-model="model.cost" step="0.5" min="0" max="5">                

            <h6>Utilization &nbsp; 15%  <label class="label label-success pull-right">score {{model.utilization}}</label></h6>
            <input type="range" value="0" ng-model="model.utilization" step="0.5" min="0" max="5">    

            <h6>Creativity &nbsp; 20% <label class="label label-success pull-right">score {{model.creativity}}</label></h6>
            <input type="range" value="0" ng-model="model.creativity" step="0.5" min="0" max="5">    

            <h6>Safety &nbsp; 20% <label class="label label-success pull-right">score {{model.safety}}</label></h6>
            <input type="range" value="0" ng-model="model.safety" step="0.5" min="0" max="5">    

            <h6>Quality &nbsp; 15%<label class="label label-success pull-right">score {{model.quality}}</label></h6>
            <input type="range" value="0" ng-model="model.quality" step="0.5" min="0" max="5">  
        </div>

        <div class="row pull-right">
            <button type="button" class="btn btn-google-plus btn-sm">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Suggestion
            </button>
            <button type="button" class="btn btn-instagram btn-sm">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Appreciation
            </button>
            <button type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit
            </button>
        </div>
    </div>

</div>
